html {
  font-size: 62.5%;
}

body {
  background-color: rgb(123, 209, 123);
  font-family: "Roboto" sans-serif;
}
/*ADAPTAR TODAS LAS IMAGENES A SU PROYECTOS A LA PANTALLA*/

img {
  max-width: 100%;
  height: 30rem;
}

#grilla {
  display: grid;
  grid-template-areas: 
    "logo logo logo"
    "nav nav nav"
    "texto texto texto"
    "productos productos productos"
    "info info info"
    "footer footer footer";

  grid-template-columns: 1fr;
}

/*HEADER*/
#header {
  grid-area: logo;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media  screen and (max-width: 723px) {
  #header {
    flex-direction: columns;
  }
}
    
.logo {
  background-color: gray;
  height: 30rem;
  }

/*NAVEGACIÓN*/
#nav {
  grid-area: nav;
  gap: .8rem
  list-style: none;
  color: black;
  background-color: rgb(233, 245, 233);
  justify-items: center;
  font-size: 1.8rem;
}

@media  screen and (max-width: px) {
  #nav {
    flex-direction: column;
  }
}

/*TEXTO*/
#texto {
  grid-area: texto;
}

/*PRODUCTOS*/

/*BARNNER*/

#footer {
  grid-area: footer;
}

#productos {
  grid-area: productos;
}

@media  screen and (max-width: 350px) {
  #productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

#info {
  grid-area: info;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}


.navegacion-pages {
  list-style: none;
  color: black;
  background-color: rgb(233, 245, 233);
  display: grid;
    grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-size: 1.8rem;
  padding: 1rem;
  margin: 1rem;
}

#productos {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width:1028px) {
  #productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:425px) {
  #productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  border: solid .2rem gray;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.boton {
  margin: 2rem;
  padding: 1rem;
}


h1 {
  color: rgb(48, 46, 46);
  font-size: 3rem;
  margin-top: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin: 1rem;
}


