* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.grid-container {
  width: 90%;
  margin: auto;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  /* DECLARAMOS COLUMNAS*/
  grid-template-columns: repeat (3,1fr);
  /* DECLARAMOS FILAS*/
  grid-template-rows: 300px 100px auto 150px;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
}

.encabezado {
  background-color:rgb(103, 160, 111);
  grid-area: header;
  
}
.encabezado, .logo{
  height: 100%;
}

.menu {
  background-color:rgb(127, 194, 136);
  grid-area: nav;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: 2rem;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.contenido {
  background-color: rgb(145, 241, 145);
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}


.card {
  border: solid .2rem gray;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}

.boton {
  margin: 2rem;
  padding: 1rem;
}

.publicidad {
  background-color: #525e52;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pie {
  background-color: #78939a;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie img {
  margin:10px;
}

/*--- MEDIA QUERY--- */

@media screen and (max-width: 1050px) {
  .grid-container {
    width:100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 150px auto 300px 100px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer" 
    ;
  }

  .publicidad {
    flex-direction: row;
  }
}
git :window-inactive
@media screen and (max-width: 820px) {
  .grid-container {
    grid-template-columns: 1fr;
      grid-template-rows: 250px 100px auto 250px 100px;
      grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "footer"
      ;
  }
  .menu ul {
    flex-direction: column;
  }

  .contenido, .card {
    flex-direction: column;
  }

  .publicidad {
    flex-direction: column;
  }
}

/* PAGES APADRINA */

.grid-container-apadrina {
  width: 90%;
  margin: auto;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  /* DECLARAMOS COLUMNAS*/
  grid-template-columns: repeat (4,1fr);
  /* DECLARAMOS FILAS*/
  grid-template-rows: 300px 100px auto 150px;
  grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}

.contenido-apadrina {
  background-color: rgb(140, 164, 231);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center; 
}

.contenido, .item {
  background-color: burlywood;
  margin: 2rem;
  
  


}