/* PAGES APADRINA */

.grid-container-apadrina {
    width: 90%;
    margin: auto;
    color: black;
    font-family: $fuente;
    display: grid;
    /* DECLARAMOS COLUMNAS*/
    grid-template-columns: repeat (3,1fr);
    /* DECLARAMOS FILAS*/
    grid-template-rows: 300px 70px auto 150px;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer"
        ;
    }
    
    
.encabezado {
    background-color:$color-secundario;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.encabezado {
height: 100%;
}

.menu, img .logo {
background-color:rgb(127, 194, 136);
grid-area: nav;
height: 100%;
}

.menu ul {
list-style: none;
display: flex;
justify-content: space-evenly;
align-items: center;
height: 100%;
font-size: 2rem;
}

.menu ul li a {
text-decoration: none;
color: white;
}

.contenido {
background-color: $bg-body;
grid-area: main;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.contenido-apadrina, .contenido-donaciones, .contenido-donaciones {
grid-area: main;
background-color: $contenido;
display: flex;
flex-flow: wrap;
justify-content: space-around;
align-items: center;
padding: 2rem;
gap: 3rem;
}

.card-apadrina{
background-color: burlywood;
border: solid .2rem gray;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 1rem;
}

@media screen and (max-width: 820px) {
.grid-container-apadrina{
    grid-template-columns: 1fr;
    grid-template-rows: 250px auto auto 150px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;}
}

.menu ul {
    flex-direction: column;
}

.contenido, .card-apadrina, .contenido-donaciones {
    flex-direction: column;
}