/*PAGINA DONACIONES */
.contenido-donaciones {
    grid-area: main;
    background-color: rgb(167, 247, 191);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

