.grid-container {
    width: 90%;
    margin: auto;
    color: black;
    font-family: $fuente;
    display: grid;
    /* DECLARAMOS COLUMNAS*/
    grid-template-columns: repeat (3,1fr);
    /* DECLARAMOS FILAS*/
    grid-template-rows: 300px 70px auto 150px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer"
    ;
}

.menu {
}

.contenido {
    background-color: $bg-body;
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

/*--- MEDIA QUERY--- */

@media screen and (max-width: $pantalla-xg) {
.grid-container {
    width:100%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 70px auto 300px 100px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "footer footer" 
    ;}
}

.publicidad {
    flex-direction: row;
}


@media screen and (max-width: $pantalla-mediana) {
.grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 250px auto auto 400px 100px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer"
    ;}
}

.menu ul {
    flex-direction: column;
}

.contenido, .card {
    flex-direction: column;
}

.publicidad {
    flex-direction: column;
}

.card {
border: solid .2rem gray;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.card, card__img {
height: 90%;
padding: 1rem;
margin: 1rem 1rem 1rem 1rem;
}



.publicidad {
background-color: #525e52;
grid-area: aside;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}