/*---Las VARIABLES siempre inician con signo $---*/

/*variables para colores*/
$bg-body: black;
$color-principal:
$color-secundario: rgb(103, 160, 111);
$color-terciario:
$contenido: rgb(167, 247, 191);

/*variables fuentes*/
$fuente-grande: 3rem;
$fuente-mediana: 2rem;
$fuente-pqueña: 1rem;

/*variable de las media queries*/
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xg: 1200px;
